@model List<Course>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="wDescriptionth=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"
            integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <title>Document</title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="#">CourseApp</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Home</a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">Kurslar</a>
                        </li>

                    </ul>
                </div>

            </nav>
        </header>
        <div class="container pb-3">
            <main>
                @foreach(var kurs in Model)
                {
                <div>
                    <h2>@kurs.Title</h2>
                    <p>@kurs.Id</p>
                    <p>@kurs.Description</p>
                    <img src="~/img/@kurs.Image" alt="" width="200">
                </div>
                }
            </main>

        </div>


    </body>

    </html>